version: "3.7"

services:
  postgres:
    image: postgres:14
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=finances_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
  finances_backend:
    image: node:18
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
      - ./config:/usr/src/app/config
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=finances_db
      - GOOGLE_APPLICATION_CREDENTIALS=/usr/src/app/config/sacat-auth-firebase-adminsdk-kjkr7-4791cee664.json
      - API_KEY=AIzaSyD8LmMiqT5Qs0Znp_U18OO7EVDgGyBOBL4
      - AUTH_DOMAIN=sacat-auth.firebaseapp.com
      - PROJECT_ID=sacat-auth
      - STORAGE_BUCKET=sacat-auth.appspot.com
      - MESSAGING_SENDER_ID=523867594842
      - APP_ID=1:523867594842:web:1ad63d715da7fcd6047863
      - FRONT_URL=http://localhost:3001
      - ENVIRONMENT=development
    command: >
      sh -c "npm install -g pnpm &&
             pnpm install &&
             pnpm run start:dev"
    depends_on:
      - postgres
    ports:
      - "3000:3000"
volumes:
  pgdata:
